[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
omahdf5tordf = {git = "git+${LABGIT}/biosoda"}
omamer = "*"
edgehog = "*"
hogprop = {git = "git+${LABGIT}/hogprop2"}
         #branch = "nf-convert",
         #ref = "v0.13.3"
pyoma = {git = "git+https://github.com/DessimozLab/pyoma.git", branch = "nf-convert", extras = ["create_db", "enrichment", "notebooks"] }
#pyoma = "*"
omataxonomy = "*"

[dev-packages]

[requires]
python_version = "3.11"
