// Process scope
process {
    // Node options
    resourceLimits    = [ cpus: 48, memory: 450.GB, time: 72.h ]
    scratch           = true
    containerOptions  = "--bind /scratch:/scratch"
    beforeScript      = 'module load eth_proxy' 

    withLabel: HIGH_IO_ACCESS {
        //stageInMode   = "copy"
        scratch       = true
    }
   
}

executor {
   name                = "slurm"
   perCpuMemAllocation = true
   queueSize           = 500
}


