// Process scope
process {
    // Slurm options
    executor          = "slurm"
    queueSize         = 500
    // Node options
    resourceLimits    = [ cpus: 48, memory: 350.GB, time: 72.h ]
    scratch           = true
    containerOptions  = "--bind /scratch:/scratch"
    
}

executor {
   perCpuMemAllocation = true
}
