// Process scope
process {
    module = ["singularityce/3.11.3"] // set to correct singularity module to be loaded in sib hpc
    // Node options
    resourceLimits = [ cpus: 96, memory: 350.GB, time: 72.h ]

    withLabel: HIGH_IO_ACCESS {
        stageInMode   = "copy"
        scratch       = true
    }
}

executor {
   name                = "slurm"
   queue               = "cpu"
   queueSize           = 100
}
