// Process scope
process {
    module = ["singularityce"]  // set to correct singularity module to be loaded in sib hpc
    // Node options
    resourceLimits = [ cpus: 96, memory: 650.GB, time: 72.h ]

    withLabel: HIGH_IO_ACCESS {
        stageInMode   = "copy"
        scratch       = true
    }
    withName: 'INFER_3DI_FROM_FASTA' {
        containerOptions = "--bind /scratch:/scratch --nv"
        ext.args = "--gpu 1"
        clusterOptions = '--gres=gpu:1 --partition=gpu'
    }
 
}

executor {
   name                = "slurm"
   queue               = "cpu"
   queueSize           = 100
}
