// Process scope
process {
    module = ["singularityce"]  // set to correct singularity module to be loaded in sib hpc
    // Node options
    resourceLimits = [ cpus: 96, memory: 650.GB, time: 72.h ]

    withLabel: HIGH_IO_ACCESS {
        scratch       = true
        ext.copy_to_local_path = '$TMPDIR'
    }
}

executor {
   name                = "slurm"
   queue               = "cpu"
   queueSize           = 100
}
