/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input parameters and everything required to run a minimal dataset

    Use as follows:
        nextflow run dessimozlab/nf-oma-browser-build -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
   // config_profile_name        = 'Test profile'
   // config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    fastoma_species_tree       = "${projectDir}/testdata/fastoma/species_tree_checked.nwk"
    fastoma_proteomes          = "${projectDir}/testdata/fastoma/proteome"
    fastoma_speciesdata        = "${projectDir}/testdata/fastoma/species_info.tsv"
    matrix_file                = "${projectDir}/testdata/fastoma/OrthologousGroups.tsv"
    hog_orthoxml               = "${projectDir}/testdata/fastoma/FastOMA_HOGs.orthoxml"
    genomes_dir                = "${projectDir}/testdata/fastoma/proteome"
    taxonomy_sqlite_path       = "${projectDir}/testdata/taxonomy.sqlite"
    pfam_names_path            = "${projectDir}/testdata/Pfam-A.clans.stub.tsv.gz"
    cath_names_path            = "${projectDir}/testdata/cath-names.txt"
    xref_refseq                = "${projectDir}/assets/NO_FILE"
    go_gaf                     = "${projectDir}/testdata/fastoma/*.goa"
}
